


*{
    margin:0;
    padding:0;
    border:0 none;
    background:transparent;
    font-size:100%;
    vertical-align:baseline;
    font-family:"Microsoft YaHei";
    font-size:14px;
}

li{ list-style:none;}

a{ text-decoration:none;}

body, html {
    margin: 0;
    overflow: hidden;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    transition: opacity 400ms;
}

body, .onepage-wrapper, html {
    display: block;
    position: static;
    padding: 0;
    width: 100%;
    height: 100%;
}

.onepage-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding: 0;
    -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
    width: 100%;
    height: 100%;
}
p{
    text-indent:2em;
}
.onepage-pagination {
    position: absolute;
    right: 20px;
    top: 35%;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0;
}
.onepage-pagination li {
    padding: 0;
    text-align: center;
}
.onepage-pagination li a{
    padding: 10px;
    width: 20px;
    height: 20px;
    display: block;

}
.onepage-pagination li a:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.85);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius:50px;
}

.onepage-pagination li a.active:before{
    width: 18px;
    height: 18px;
    background: none;
    border: 2px solid #fff;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
    overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
    -ms-transform: none !important;
    min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
    display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
    position: inherit;
}



.page2 { }
.page3 { background-color: #4BBFC3;}
.page4 { background-color: #f90;}
p.title { position: relative; top: 35%; font: 700 40px "Microsoft Yahei"; color: #fff; text-align: center;}


.intro { background:url(../images/hdb_bg_01.png) top center no-repeat; background-size:cover; }
.hdb-bg{ background:rgba(107,205,211,0.5); height:85px;}
.hdb-box{ width:1200px; margin:0 auto; overflow:hidden;}
.intro-left img{ float:left; padding-top:15px;}
.hdb-nav{ width:700px; float:right; height:85px; line-height:85px;}
.hdb-nav li{ padding:0 15px; float:left; }
.hdb-nav li a{color:#fff; font-size:18px;}
.hdb-nav li a:hover{ color:#fa6500;}
.hdb-nav li.active a{color:#fa6500; }
/*绗竴灞�*/


.intro-box{ padding-top:15%;}
.intro-left{ width:40%; overflow:hidden; float:left;
    margin-top: -50px;
    margin-left: 100px;
}
.intro-left img{
    padding:0 30px;
}
.intro-right{ width:50%; overflow:hidden; float:left;  padding:0 10px;}
.intro-tit h3{ font-size:55px; color:#fd5e00;}
.intro-tit span{ font-size:40px; color:#50c3c5;}
.intro-tit p{ font-size:36px; color:#333; height:80px; width:100%; line-height:40px; overflow:hidden; padding-top:10px;}


/*鍏徃鍙戝睍鍙层€佸闈㈠彂灞曞彶*/
.history,.wall,.wall-import{ background:url(../images/hdb_bg_03.png) top center repeat-y; background-size:cover; height:100%; width:100%;}
.history-bg{ background:url(../images/pic-5.png) top center; background-size:cover; }
.history-box{ width:1200px; margin:0 auto;}
.hdb-tit{ width:600px; height:110px; margin:0 auto; padding-top:30px; text-align:center;}
.mud-box{width:100%; height:100%; margin:0 auto;  position:relative; padding-top:30px;}
.mud-left{ width:720px; overflow:hidden; position:absolute; top:25%; left:150px}
.mud-right{ width:430px; overflow:hidden; position:absolute; top:25%; right:0; line-height:50px;}
.mud-right h3{ font-size:36px; color:#50c3c5; padding-bottom:20px;}
.mud-right p{ color:#333; font-size:18px; text-indent:2em; }




/*澧欓潰鐨勯噸瑕佹€�*/
.wall_bd{ width:100%; padding-top:30px;}
.wall-box{ width:100%; overflow:hidden; margin:0 auto;  padding-bottom:20px; border:1px solid #e3e3e3; border-radius:10px; background:#f8f8f8; box-shadow:3px 3px 3px #d2d2d2; -moz-box-shadow:3px 3px 3px #d2d2d2; -webkit-box-shadow:3px 3px 3px #d2d2d2;}
.wall-tit{ height:85px; line-height:85px; text-align:center; padding-bottom:10px;}
.wall-tit h3{ font-size:30px; color:#f80000; font-weight:400;}
.wall-wt{ overflow:hidden; }
.wall-wt dl{ width:43%; overflow:hidden; padding:10px; background:#fff; border:1px solid #e3e3e3; float:left; margin-left:25px; margin-bottom:10px;}
.wall-wt dd{ float:left; width:85px;}
.wall-wt dt{ width:420px; float:right;}
.wall-wt dt h3{ font-size:18px; color:#65cbd3; font-weight:400;}
.wall-wt dt p{ height:60px; overflow:hidden; line-height:30px; color:#666; font-size:14px;}
.wall-wz{ width:865px; background:#06858f; border-radius:15px; line-height:30px; color:#fff; padding:20px; margin:0 auto; font-size:18px;}
.wall-tit h3{ font-size:30px; color:#65cbd3; text-align:center;}
.wall-list{ overflow:hidden; padding-top:20px;}
.wall-list dl{ width:40%; padding:10px 15px 0 15px; float:left; margin-left:30px; }
.wall-list dl dt{ width:20%; float:left;}
.wall-list dl dd{ width:80%; float:right;}
.wall-list dl dd h3{ font-size:18px; color:#333; font-weight:400;}
.wall-list dl dd p{ height:60px; line-height:30px; overflow:hidden;}
.walltit2{height:45px; line-height:45px; text-align:center;}
.walltit2 h3{  font-size:30px; color:#65cbd3; font-weight:400;}


/*鍝佺墝浠嬬粛*/
.brand-bg{  }
.brand-box{width:100%;  overflow:hidden; margin:0 auto; margin-top:5%; border:1px solid #e3e3e3; border-radius:10px; background:#fff; box-shadow:3px 3px 3px #d2d2d2; -moz-box-shadow:3px 3px 3px #d2d2d2; -webkit-box-shadow:3px 3px 3px #d2d2d2;}
.brand-list{ overflow:hidden;}
.brand-list li{ width:30%; float:left; padding:15px; text-align:center; }
.brand-list li h3{height:50px; line-height:50px; font-size:24px; text-align:center;}
.brand-cor1{ border-bottom:4px solid #f79702;}
.brand-cor2{ border-bottom:4px solid #50c3c5;}
.brand-cor3{ border-bottom:4px solid #cc33cc;}
.brand-list li p{ text-align:left; text-indent:2em; font-size:16px; padding-top:10px; line-height:30px;}
.brand-tit{ text-align:center; padding-top:50px;}


/*鍘熸枡浠嬬粛*/
.raw-bg{ background:url(../images/pic_42.png) top center no-repeat; background-size:cover; height:100%;}
.raw-box li{ width:30%; float:left; padding:15px; text-align:center;}
.raw-box li h3{ font-size:24px; line-height:100px;}
.raw-box li p{ line-height:35px; text-align:left; text-indent:2em; font-size:16px; color:#333; padding:30px 0 0 0;}


/*鎴戜滑鐨勭悊鐢�*/
.reason-bg{  padding-top:80px; overflow:hidden;}
.reason-box{  width:100%;  overflow:hidden; margin:0 auto; padding:20px 0; margin-top:5%;  border:1px solid #e3e3e3; border-radius:10px; background:#eff6ff; box-shadow:3px 3px 3px #d2d2d2; -moz-box-shadow:3px 3px 3px #d2d2d2; -webkit-box-shadow:3px 3px 3px #d2d2d2;}
.reason-list li{ width:22%; padding:15px; float:left; text-align:center;}
.reason-list li a{ color:#333;}
.reason-list li img{ padding-top:20px;}
.reason-list li h3{ font-size:24px; line-height:80px; }
.reason-list li h3.reason-c1{ color:#f79702;}
.reason-list li h3.reason-c2{ color:#50c3c5;}
.reason-list li h3.reason-c3{ color:#0779da;}
.reason-list li h3.reason-c4{ color:#cc33cc;}
.reason-list li p{ text-align:left; line-height:35px; font-size:16px; color:#999;}


/*缁欐垜浠暀瑷€*/
.message-bg{ background:url(../images/pic_37.png) top center no-repeat;
    background-size:cover; height:541px; margin-top:5%;}
.message-box{ width:410px; height:400px; margin:0 auto; padding:0 30px; }
.message-list{ padding-top:35%;}
.message-list li{ width:400px; height:40px; border:1px solid #e3e3e3; background:#fff; line-height:40px; margin-bottom:15px;}
.icon-mess1{ background:url(../images/imgcy_15.png) no-repeat; width:30px; height:30px; float:left; margin-top:5px;}
.icon-mess2{ background:url(../images/imgcy_16.png) no-repeat; width:30px; height:30px; float:left; margin-top:5px;}
.icon-mess3{ background:url(../images/imgcy_17.png) no-repeat; width:30px; height:30px; float:left; margin-top:5px;}
.mess-text{ width:360px; height:40px; border:0; float:left; padding-left:10px;}
.mess-tarea{ width:400px; height:40px; background:#fff; color:#999; border:1px solid #e3e3e3;}
.mess-btn{ display:inline-block; margin-left:70px; margin-top:10px; width:217px; height:68px; background:url(../images/pic_43.png) no-repeat; cursor:pointer;}


/*搴曢儴*/
.footer{ height:320px; background:#fef5e3; padding:45px 0 ; margin-top:5%;}
.footer-box{ width:1200px; overflow:hidden; margin:0 auto;}
.footer-pic{ float:left; padding-left:15%; width:260px;  }
.footer-rig{ width:700px; float:right; overflow:hidden;}
.footer-tit{ height:50px; line-height:50px;}
.footer-tit h3{ color:#50c3c5; font-size:18px;}
.footer-tit h3 span{ color:#98afaf; font-size:16px; font-weight:400; padding-left:15px;}
.footer-nr{ width:100%; overflow:hidden;}
.nr-weixin{ width:150px; height:200px; background:#fff; padding:15px; border:1px solid #e3e3e3; float:left;}
.nr-tep{ height:50px; width:345px; border-bottom:1px solid #999; border-top:1px solid #999;}
.nr-infor{ float:left; width:300px; padding-left:30px; line-height:30px;}
.nr-infor h3{ font-size:30px; font-weight:400;}
.nr-infor p{  line-height:40px; font-size:18px;}
.nr-tep img{ float:left; padding-right:15px; padding-top:10px;}
.nr-wz{ line-height:30px; color:#999;}
.nr-wz span{ }
.footer-nav{ width:100%; height:50px; background:#232d33; text-align:center; color:#fff; font-size:18px; line-height:50px;}


















